{% extends 'base.html.twig' %}

{% block title %}Hello HappeningController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                Your application is submitted. You will be connected once we review your application. Thank you.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% if attenders is defined  %}
                {% for attender in attenders%}
                    <div>
                        {{ attender.id }}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}