{% extends 'base.html.twig' %}

{% block title %}Your application is submitted.{% endblock %}
{% block bodystyle %}style="background-color: transparent;"{% endblock bodystyle %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Your application is submitted.</h1>
                <h2>You will be contacted once we review your application. Thank you.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% if attenders is defined  %}
                {% for attender in attenders%}
                    <div>
                        {{ attender.id }}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}