.idea
.env.local
.env.local.php
.env.*.local
.env.*.local
public/bundles/
var/
vendor/

.phpunit
/phpunit.xml

/.web-server-pid

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
