<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Event registration platform.">
        <meta name="author" content="Romans Shvets, p4.lv">
        <meta name="generator" content="bajaki">

        <meta name="theme-color" content="#712cf9">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- the jQuery Library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

{#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">#}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
{#        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ asset('assets/bootstrap-multiselect.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap-multiselect.min.css') }}" type="text/css"/>

        {% block stylesheets %}{% endblock %}

        {% block head %}{% endblock head %}
    </head>
    <body {% block bodystyle %}{% endblock bodystyle %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


    </body>
</html>
